# Python
__pycache__/
*.py[cod]
*.egg-info/

# Entornos virtuales
venv/
.venv/
django-venv/
*-venv/

# Variables de entorno
.env
.env.*
!.env.example

# Django
db.sqlite3
db.sqlite3-journal
media/
staticfiles/

# Otros
node_modules/
.vscode/
.idea/
.DS_Store
